.main {
    &__title {
        margin-bottom: 60px;
    }

    &__basic-info {
        margin-bottom: 75px;
    }

    &__extra-info {
        margin-bottom: 65px;
    }

    &__javascript-level {
        margin-bottom: 40px;
    }

    &__about-me {
        margin-bottom: 40px;
    }

    &__future-plan {
        margin-bottom: 90px;
    }
}