input[type="text"],
input[type="email"],
input[type="password"] {
	outline: none;
	border: none;
	border-bottom: 3px solid $color-title;
	padding-bottom: 10px;
	font-family: $font-input;
	font-size: 30px;
	line-height: 1;
	color: $color-text;
	background-color: transparent;

	&::placeholder {
		color: $color-input;
	}

	&:focus {
		border-color: #2c448b;
	}
}

input[type="text"]::placeholder {
	color: $color-input;
}

textarea {
	overflow: hidden;
	margin: 0;
	outline: none;
	border: none;
	padding: 0;
	width: 100%;
	font-family: $font-input;
	font-size: 30px;
	line-height: 2;
	color: $color-text;
	background-image: url("../images/line.png");
	background-position: -5px 80px;
	background-repeat: repeat-y;
	background-color: transparent;
	transition: 0.2s ease;
	resize: none;
}
