.checkboxes-column {
	align-self: flex-start;
	margin-top: 35px;

	@include media-phone {
		margin: 0;
		width: 100%;

		h2 + & {
			margin-top: 30px;
		}
	}
}

.checkbox {
	margin-bottom: 15px;
	padding-left: 32px;
	font-size: 20px;
	line-height: 1.25;
}

.checkbox__pseudo-input {
	position: absolute;
	left: 0;
	top: 50%;
	width: 19px;
	height: 18px;
	background-image: url("../images/checkbox.png");
	background-position: 50% 50%;
	background-size: contain;
	transform: translateY(-50%);
}

input:checked + .checkbox__pseudo-input::before {
	content: "";
	position: absolute;
	right: -5px;
	bottom: 2px;
	width: 21px;
	height: 27px;
	background-image: url("../images/checkbox-tick.png");
}

.checkbox__text span {
	position: relative;
	transition: 0.2s ease;
}

.checkbox__text span:nth-child(1) {
	top: 1px;
}

.checkbox__text span:nth-child(2) {
	top: 3px;
}

.checkbox__text span:nth-child(3) {
	top: 5px;
}

.checkbox__text span:nth-child(4) {
	top: 7px;
}

.checkbox__text:hover span {
	top: 0;
}
