.checkbox {
	position: relative;
	padding-left: 32px;
	font-family: $font-title;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.25;
	color: #000;
	cursor: pointer;

	a {
		color: $color-accent;
	}
}

.checkbox__pseudo-input {
	position: absolute;
	left: 0;
	top: 50%;
	display: block;
	width: 19px;
	height: 18px;
	background-image: url("../images/checkbox.png");
	background-position: 50% 50%;
	background-size: contain;
	transform: translateY(-50%);
}

.checkbox__input:checked + .checkbox__pseudo-input::before {
	content: "";
	position: absolute;
	right: -5px;
	bottom: 2px;
	display: block;
	width: 21px;
	height: 27px;
	background-image: url("../images/checkbox-tick.png");
}

.checkbox__input:focus ~ .checkbox__text {
	text-decoration: underline;
	text-decoration-color: $color-accent;
}

.checkbox__text {
	span {
		position: relative;
		transition: 0.2s ease;

		&:nth-child(1) {
			top: 1px;
		}

		&:nth-child(2) {
			top: 3px;
		}

		&:nth-child(3) {
			top: 5px;
		}

		&:nth-child(4) {
			top: 7px;
		}
	}

	&:hover {
		span {
			top: 0;
		}
	}
}