.checkbox {
    color: #000000;
    font-family: $font-title;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    
    &__pseudo-input {
        width: 19px;
        height: 18px;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-image: url("../images/checkbox.png");
        background-size: contain;
        background-position: 50% 50%;
    }

    &__input:checked + &__pseudo-input {
        &::before {
            content: '';
            display: block;
            position: absolute;
            right: -5px;
            bottom: 2px;
            width: 21px;
            height: 27px;
            background-image: url('../images/checkbox-tick.png');
        }
    }

    &__input:focus ~ &__text {
        text-decoration: underline;
        text-decoration-color: $color-accent;
    }

    &__text {
        span {
            position: relative;
            transition: 0.2s ease;

            &:nth-child(1) {
                top: 1px;
            }

            &:nth-child(2) {
                top: 3px;
            }

            &:nth-child(3) {
                top: 5px;
            }

            &:nth-child(4) {
                top: 7px;
            }
        }

        &:hover {
            span {
                top: 0;
            }
        }
    }

    a {
        color: $color-accent;
    }
}