.extra-info__subtitle {
	margin-bottom: 15px;
}

.extra-info__description {
	margin-bottom: 35px;
}

.extra-info__checkboxes-group {
	display: flex;
	justify-content: space-between;
}

.extra-info__checkboxes-column {
	display: flex;
	flex-direction: column;
}

.extra-info__label:not(:last-child) {
	margin-bottom: 15px;
}
