.form__basic-info {
	margin-bottom: 75px;
}

.form__extra-info {
	margin-bottom: 65px;
}

.form__javascript-level {
	margin-bottom: 40px;
}

.form__about-me {
	margin-bottom: 40px;
}

.form__future-plan {
	margin-bottom: 90px;
}

.form__button {
	margin-top: 70px;
	outline: none;
	border: 3px solid $color-title;
	padding: 10px 15px;
	font-family: $font-title;
	font-weight: 700;
	font-size: 20px;
	background-color: transparent;
}

.form__button:focus {
	border-color: $color-accent;
	color: $color-accent;
}

.form__button:hover {
	background-color: rgba($color-title, 0.1);
}
