.form {
    &__basic-info {
        margin-bottom: 75px;
    }

    &__extra-info {
        margin-bottom: 65px;
    }

    &__javascript-level {
        margin-bottom: 40px;
    }

    &__about-me {
        margin-bottom: 40px;
    }

    &__future-plan {
        margin-bottom: 90px;
    }

    &__button {
        margin-top: 70px;
        padding: 10px 15px;
        font-size: 20px;
        outline: none;
        background-color: transparent;
        border: 3px solid $color-title;
        font-weight: 700;
        font-family: $font-title;

        &:focus {
            border-color: $color-accent;
            color: $color-accent;
        }

        &:hover {
            background-color: rgba($color-title, 0.1);
        }
    }
}