.future-plan__subtitle {
	margin-bottom: 10px;
}

.future-plan__description {
	margin-bottom: 20px;
}

.future-plan__input-group {
	display: flex;
}

.future-plan__label:not(:last-child) {
	margin-right: 20px;
}
