.label-input {
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
	width: 100%;

	@include media-phone {
		flex-wrap: wrap;
	}
}

.label-input__label {
	margin-right: 15px;
	font-size: 22px;
	line-height: 1;

	@include media-phone {
		margin-bottom: 15px;
		width: 100%;
		font-size: 16px;
	}
}

.label-input__input {
	flex-grow: 1;
}

.label-input__input--small {
	max-width: 205px;
}
