.label-input {
	display: flex;
	align-items: flex-end;
}

.label-input__label {
	margin-right: 15px;
	font-family: $font-text;
	font-weight: 700;
	font-size: 22px;
	line-height: 1;
	color: $color-title;
}

.label-input__input {
	flex-grow: 1;
}

.label-input__input--small {
	flex-grow: 0;
	max-width: 205px;
}
