.slider {
	width: 100%;
	font-size: 13px;
	line-height: 1.45;

	@include media-phone {
		font-size: 12px;
	}
}

.slider__range {
	left: -7px;
	top: 8px;
	margin-top: 25px;
	border: 0;
	padding: 0;
	width: calc(100% + 15px);
	height: 6px;
	background-image: url("../images/slider-background.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.slider__range:focus + .slider__container input:checked + span {
	text-decoration: underline;
}

.slider__range::-webkit-slider-thumb {
	appearance: none;
	margin-bottom: 5px;
	border: none;
	width: 17px;
	height: 34px;
	background-image: url("../images/slider-pointer.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.slider__range::-moz-range-thumb {
	appearance: none;
	margin-bottom: 5px;
	border: none;
	width: 17px;
	height: 34px;
	background-image: url("../images/slider-pointer.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.slider__range::-ms-thumb {
	appearance: none;
	margin-bottom: 5px;
	border: none;
	width: 17px;
	height: 34px;
	background-image: url("../images/slider-pointer.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.slider__container {
	display: flex;
}

.slider__item {
	padding-top: 30px;
	max-width: 167px;
}

.slider__item input:checked:focus + span {
	text-decoration: underline;
}

.slider__item span::before {
	content: "";
	position: absolute;
	left: 0.2em;
	top: 0;
	display: block;
	border-radius: 10px;
	width: 3px;
	height: 14px;
	background-color: #2f1b15;
}

.slider__item:nth-child(1) {
	margin-right: 85px;

	@include media-phone {
		margin-right: 15px;
	}
}

.slider__item:nth-child(1) span::before {
	left: 0;
	height: 19px;
}

.slider__item:nth-child(1) span::after {
	left: 1px;
}

.slider__item:nth-child(2) {
	margin-right: 65px;

	@include media-phone {
		margin-right: 15px;
	}
}

.slider__item:nth-child(3) {
	margin-right: auto;
}

.slider__item:nth-child(4) {
	display: flex;
	justify-content: flex-end;
}

.slider__item:nth-child(4) span::before {
	left: unset;
	right: 0;
	height: 19px;
}

.slider__item:nth-child(4) span::after {
	left: calc(100% - 2px);
}
