section.container
	img(src="./images/logo.png" alt="CSSSR")
	img.stamp(src="./images/stamp.png" alt="Секретно Заполнено собственноручно")
	h1
		img(src="./images/title.png" alt="Дело" title="Дело")
	.label-input
		label.label-input__label Полное ФИО
		input.label-input__input(value="Филимонов Вадим Валерьевич")
	.label-input
		label.label-input__label Год рождения
		input.label-input__input(value="1994")
	.label-input
		label.label-input__label Место жительства
		input.label-input__input(value="г. Новокубанск, Россия")
	.label-input
		label.label-input__label Скайп
		input.label-input__input(value="philimonovvadim")
	.label-input
		label.label-input__label Почта
		input.label-input__input(value="philimonovvadim@gmail.com")
	h2 Расскажите о себе чекбоксами
	| Отметьте чекбоксами пункты, которые соответствуют вашим скиллам.
	| Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей.
	| Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
	.checkboxes-column
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text БЭМ/OOCSS
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Pug (Jade)
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Stylus/LESS/SASS
		label.checkbox
			input.visually-hidden(type="checkbox")
			span.checkbox__pseudo-input
			span.checkbox__text Работаю с SVG
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Верстаю семантично
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Accessibility (A11Y)
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text ES2015/ES2016
	.checkboxes-column
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Gulp/GRUNT
		label.checkbox
			input.visually-hidden(type="checkbox")
			span.checkbox__pseudo-input
			span.checkbox__text Webpack
		label.checkbox
			input.visually-hidden(type="checkbox")
			span.checkbox__pseudo-input
			span.checkbox__text Дружу с WebGL
		label.checkbox
			input.visually-hidden(type="checkbox")
			span.checkbox__pseudo-input
			span.checkbox__text jQuery
		label.checkbox
			input.visually-hidden(type="checkbox")
			span.checkbox__pseudo-input
			span.checkbox__text Знаю/изучаю Angular
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Знаю/изучаю React
		label.checkbox
			input.visually-hidden(type="checkbox")
			span.checkbox__pseudo-input
			span.checkbox__text Знаю/изучаю Node.js
	.checkboxes-column
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Использую Git
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text
				span С#{' '}
				span глазомером#{' '}
				span всё#{' '}
				span ок
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Читаю#{' '}
			a.extra-info__link(href="https://blog.csssr.ru" target="_blank") blog.csssr.ru
		label.checkbox
			input.visually-hidden(type="checkbox" checked)
			span.checkbox__pseudo-input
			span.checkbox__text Я ленивый(-ая)
		label.checkbox
			input.visually-hidden(type="checkbox")
			span.checkbox__pseudo-input
			span.checkbox__text У меня хороший английский
	h2 Уровень владения JavaScript
	.slider
		input.slider__range(type="range" step="1" max="200" value="200")
		.slider__container
			label.slider__item
				input.visually-hidden(type="radio" name="level" value="0")
				span Не владею
			label.slider__item
				input.visually-hidden(type="radio" name="level" value="38")
				span Использую готовые решения
			label.slider__item
				input.visually-hidden(type="radio" name="level" value="99")
				span Использую готовые решения и умею их переделывать
			label.slider__item
				input.visually-hidden(type="radio" name="level" value="200" checked)
				span Пишу сложный JS с нуля
	h2 Расскажите о себе словами
	| Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR.
	| Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
	textarea(placeholder="Ну-ууу-уу...\nЭэээ...")
		| Мне понравилась концепция и ценности CSSSR. Уверен, что это то место, где можно вырасти как специалист и принести пользу.
	h2 Какие у вас планы на будущее?
	| Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
	.radiobuttons
		label.radiobutton
			input.radiobutton__input.visually-hidden(type="radio" name="plan")
			span.radiobutton__pseudo-input
			span Верстать
		label.radiobutton
			input.radiobutton__input.visually-hidden(type="radio" name="plan" checked)
			span.radiobutton__pseudo-input
			span Прокачиваться в JS
		label.radiobutton
			input.radiobutton__input.visually-hidden(type="radio" name="plan")
			span.radiobutton__pseudo-input
			span Менеджерство
		label.radiobutton
			input.radiobutton__input.visually-hidden(type="radio" name="plan")
			span.radiobutton__pseudo-input
			span Другое
	.label-input
		label.label-input__label Дата заполнения
		input.label-input__input.label-input__input--small(value="17.05.2019")
